<!DOCTYPE html>
<html lang="en">
<head>
  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>Munchkin Connect</title>
  <meta name="description" content="Munchking Connect - Keeping Parents and Childcare providers in touch">
  <meta name="author" content="Rohi Labs">
  <meta name="keyword" content="Munchkin, Childcare Providers, Parents, Teachers, Care givers">
  <!-- end: Meta -->
	
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- end: Mobile Specific -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <!-- start: Favicon and Touch Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.png">
  <!-- end: Favicon and Touch Icons -->

  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <%= javascript_include_tag "html5respond", "data-turbolinks-track" => true %>
  <![endif]-->
	
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section>
      <div id="title">
        <h1><%= @title %></h1>
        <h2><%= @subtitle %></h2>
      </div>
      <nav>
        <%= link_to_unless_current "Home", root_path %>
      </nav>
    </section>
  </header>

    <% if flash[:error] %>
    <div id="error"><%= flash[:error] %></div>
    <% end %>
    
<%= yield %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
